
body,div,table,th,td,form,fieldset,input,button,select,textarea {margin:0; padding:0;font-size:12px; font-family:"ו", Arial, Helvetica, sans-serif;} 
body {color:#e9e7e7;;background:#e9e7e7; text-align:center; font:12px/1.5 Arial, Helvetica, sans-serif;} 
ol,ul,li{list-style: none;}
img {border: 0;}
.clearfix:after {clear:both; content:"."; display:block; height:0pt; visibility:hidden; overflow:hidden;}
.clear{clear:both; font-size:0px; height:0px; line-height:0px;}

#container{ width:700px; margin:0 auto; margin-top:20px; height:466px; background:url(../images/bg.jpg) no-repeat; text-align:left;}
.main{margin:144px 0 0 211px; float:left; display:inline;}
.textinner{font:15px/34px Arial, Helvetica, sans-serif; width:167px; height:28px; border:1px solid #3C4144; padding:5px 0 0 3px;vertical-align: middle;}
.tit{ font: bold 14px/28px "ו"; color:#fff;}
.width80{ width:80px;}
.login{ width:106px; height:24px; color:#fff; background:url(../images/login.gif) no-repeat; border:none; cursor:pointer; margin-left:50px;}
