<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shenlan.dao.system.SystemRoleMenuDao" >
  
  <sql id="Base_Column_List" >
    id, role_id, menu_id, create_time, update_time
  </sql>
  
   <insert id="batchAdd" parameterType="SystemRoleMenu" useGeneratedKeys="true" keyProperty="id">
	insert into system_role_menu (role_id, menu_id, 
      create_time, update_time)
    values ( #{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, now(), now())
	</insert>
  
   <update id="batchUpdate" parameterType="SystemRoleMenu">
		update system_role_menu
	    set role_id = #{roleId,jdbcType=INTEGER},
	        menu_id = #{menuId,jdbcType=INTEGER},
	        update_time = now()
	    where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!--<delete id="delete" parameterType="java.util.List" >
	    delete from system_role_menu
		   <where>
				ID IN
				<foreach collection="array" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</where>
  </delete>-->
	
	<delete id="delAllRoleMenusByRoleId" parameterType="Long" >
	    delete from system_role_menu
		   where role_id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>